[Unit]
Description=Startpage Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/user/codes/startpage
ExecStart=/usr/bin/node build
Restart=on-failure
Environment=PORT=51991
Environment=HOST=127.0.0.1

[Install]
WantedBy=default.target
